In [1]:
import pandas as pd
import numpy as np
# Load the Drive helper and mount
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
simple_features = pd.read_csv('/content/drive/My Drive/semantic-question-matching/Features/features_I.csv', delimiter="\t")
distances = pd.read_csv('/content/drive/My Drive/semantic-question-matching/Features/features_III.csv')

In [48]:
simple_features.head(2)

                                           question1  ... fuzz_token_sort_ratio
0  What is the step by step guide to invest in sh...  ...                    93
1  What is the story of Kohinoor (Koh-i-Noor) Dia...  ...                    63

[2 rows x 18 columns]

In [49]:
distances.head(2)

                                           question1  ... kur_q2vec
0  What is the step by step guide to invest in sh...  ...  0.344742
1  What is the story of Kohinoor (Koh-i-Noor) Dia...  ...  0.033802

[2 rows x 16 columns]

In [0]:
distances.drop(['question1', 'question2', 'is_duplicate'], axis=1, inplace=True)

In [0]:
features_final = pd.concat([simple_features, distances], axis=1)

In [52]:
features_final.head(2)

                                           question1  ... kur_q2vec
0  What is the step by step guide to invest in sh...  ...  0.344742
1  What is the story of Kohinoor (Koh-i-Noor) Dia...  ...  0.033802

[2 rows x 31 columns]

In [0]:
features_final.to_csv('final_features.csv', index=False, sep='\t')